/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    font-size: 14px;

    .tooltiptext {
        visibility: hidden;
        width: 220px;
        background-color: rgb(0, 0, 0);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        font-size: 12px;
    
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 180%;
        left: 50%;
        margin-left: -110px;
    
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;

        /* Tooltip arrow */
        &::after {
            content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgb(0, 0, 0) transparent transparent transparent;
        }
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    &:hover {
        .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }
}