body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.site-header {
    font-family: 'Lovers Quarrel', cursive;
    font-size: 160px;
    font-weight: 200;
    color: white;
    margin: 0px;
}

@media only screen and (max-width: 640px) {
    .site-header {
        font-size: 80px;
    }
}

.search-section {
    height: 100vh;
    background: linear-gradient(to bottom right, #1B53CC, #6495FF);
}

.search-form {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.search-box {
    border: 0px;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px;
    width: 70%;
    font-size: 20px;
    font-family: 'Muli', sans-serif;
    height: 60px;
    color: lightslategray;
    caret-color: lightslategrey;
}

.search-box:focus {
    outline: none;
}

.search-btn {
    position: relative;
    border: 0px;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -5px;
    font-size: 20px;
    cursor: pointer;
    color: lightslategrey;
    top: -1px;
    height: 60px;
}

.search-btn:focus, .search-btn:hover{
    outline: none;
    background-color: whitesmoke;
}

.entry-container {
    padding: 15px;
}

.dict-header {
    font-size: 26px;
    color: royalblue;
}

.word-entry {
    font-size: 20px;
    margin-bottom: 5px;
}

.pronunciation {
    padding-left: 30px;
    margin: 0px;
}

.dict-error-msg {
    font-size: 20px;
}

.news-error-msg {
    font-size: 20px;
}

.dict-result-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px;
    padding: 20px;
    color: #474747;
}

.fas.fa-book {
    padding-left: 5px;
    padding-right: 10px;
}

.part-of-speech {
    font-size: 16px;
    font-style: italic;
    padding-left: 10px;
}

.audio-btn {
    font-size: 14px;
    cursor: pointer;
}