body {
    margin: 0;
}

.search-form {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.search-box {
    border-radius: 0;
    padding: 10px;
}

.search-btn {
    border: solid 1px;
    border-radius: 0;
    padding: 10px;
}

.entry-container {
    padding: 15px;
}

.dict-header {
    font-size: 26px;
}

.word-entry {
    font-size: 20px;
    margin-bottom: 5px;
}

.pronunciation {
    padding-left: 30px;
    margin: 0px;
}

.dict-error-msg {
    font-size: 20px;
}

.news-error-msg {
    font-size: 20px;
}

.part-of-speech {
    font-size: 16px;
    font-style: italic;
    padding-left: 10px;
}